
@import './common';
@import './sunghyun';
@import './jiyoung';
@import './ahhyeon';
@import './sohee';
@import './yeseul';

#hd{

    position: absolute;
    left:0;
    right:0;

    @media (max-width:1199px) {
        position:fixed !important;
        top:0 !important;
        z-index: 1000;
    }
    &.fixed-top{
        position:  fixed !important;
        
    }

}